name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up dependencies
        run: |
          if [[ "${{ runner.os }}" == "macOS" ]]; then
            brew update
            brew install autoconf automake
          fi
        shell: bash

      - name: Set up MSYS2 (Windows)
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: |
            base-devel
            autotools
            libtool
            make
            perl
            clang
            llvm
          update: true

      - name: Build and Test Project (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: |
          perl manage boot
          perl manage build
          perl manage check

      - name: Build and Test Project
        run: |
          perl manage boot
          perl manage build
          perl manage check