name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        shell: [msys2 {0}, bash]
      defaults:
        run:
          shell: ${{ matrix.shell }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up dependencies (Mac)
      if: runner.os == 'macOS'
      run: |
        brew update
        brew install autoconf automake

    - name: Set up MSYS2 and dependencies (Windows)
      if: runner.os == 'Windows'
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: >-
          base-devel
          autotools
          libtool
          make
          perl
          clang
        update: true

    - name: Bootstrap the project
      run: perl manage boot

    - name: Configure the project
      run: perl manage build

    - name: Run tests
      run: perl manage check